.DS_Store
*.swp

# Frida devkit files
frida-core-devkit*
frida-core.h
libfrida-core.a
frida-devkit-*

# Temporary files from Frida version update script
.frida_old_version
.frida_new_version
.frida_version_changed

# Node.js files
node_modules
out/
*.dist.js

# Build artifacts
*.dSYM
fpicker-*

# Example binaries and test files
harness/examples/test-network/test-network
harness/examples/test/test
harness/examples/protocol_example/protocol_example
harness/examples/test-network/in/*
harness/examples/test/in/*
harness/examples/protocol_example/in/*


# Only explicitly add the two example corpus files
!harness/examples/test-network/in/0
!harness/examples/test-network/in/1
!harness/examples/test/in/0
!harness/examples/test/in/1
!harness/examples/protocol_example/in/1
