.DS_Store
*.swp

# Frida devkit files
frida-core-devkit*
frida-core.h
libfrida-core.a
frida-devkit-*

# Node.js files
node_modules
package.json
package-lock.json
out/

harness.js

# Build artifacts
*.dSYM
fpicker-*

# Example binaries and test files
examples/test-network/test-network
examples/test/test
examples/protocol_example/protocol_example
examples/test-network/in/*
examples/test/in/*
examples/protocol_example/in/*


# Only explicitly add the two example corpus files
!examples/test-network/in/0
!examples/test-network/in/1
!examples/test/in/0
!examples/test/in/1
!examples/protocol_example/in/1
